In [3]:
import numpy as np
import pandas as pd

In [4]:
data = {
    '날짜' :['3/20', '3/21', '3/22', '3/23', '3/24'],
    '매출편차' :np.random.randn(5),
    '손님평균연령' :np.random.randint(10,60,5)
}

df =pd.DataFrame(data)
df

     날짜      매출편차  손님평균연령
0  3/20  1.323068      57
1  3/21  0.558687      14
2  3/22 -0.271536      32
3  3/23 -0.286941      29
4  3/24  1.612796      12

In [5]:
df["매출편차"]

0    1.323068
1    0.558687
2   -0.271536
3   -0.286941
4    1.612796
Name: 매출편차, dtype: float64

In [6]:
df[df["손님평균연령"]>=20]

     날짜      매출편차  손님평균연령
0  3/20  1.323068      57
2  3/22 -0.271536      32
3  3/23 -0.286941      29

In [17]:
df.loc[2,"매출편차"]=np.nan
df.iloc[4,2]=np.nan

In [18]:
df.isnull()

      날짜   매출편차  손님평균연령
0  False  False   False
1  False  False   False
2  False   True   False
3  False  False   False
4  False  False    True

In [19]:
df['매출편차'] = df["매출편차"].fillna(0)
df["손님평균연령"] = df["손님평균연령"].fillna(df['손님평균연령'].mean())

C:\Users\geome\AppData\Local\Temp\ipykernel_8824\1554268779.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["손님평균연령"] = df["손님평균연령"].fillna(df['손님평균연령'].mean())

In [20]:
df["손님평균연령"] = df["손님평균연령"].fillna(df["손님평균연령"].mean())

In [21]:
df

     날짜      매출편차  손님평균연령
0  3/20  1.323068    57.0
1  3/21  0.558687    14.0
2  3/22  0.000000    32.0
3  3/23 -0.286941    29.0
4  3/24  1.612796    33.0